.top {
  height: 50px;
  width: 150px;
  border: solid thin #000;
  
}

.middle {
  border:solid thin #000;
  height: 50px;
  width: 150px;
  display: flex;
  transition: height 1s;
}

.base {
  border:solid thin #000;
  height: 50px;
  width: 150px;
  padding: 10px;
  box-sizing: border-box;
}

.stand {
  flex: 1;
  border: solid thin #000;
}

.air {
  flex: 2;
  border: solid thin #000;
  display: flex;
  flex-direction: column;
}

.tool-container {
  border: solid thin #000;
  /* flex: 1; */
  height: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.workpiece {
  border: solid thin #000;
  flex: 1;
  background: #0099ff;
}

.arm {
  border: solid thin #000;
  width: 10px;
  /* height : 100%; */
  flex: 1;
}
.point {
  border: solid thin #000;
  height: 7px;
  width: 7px;
  transform: rotate(45deg) translateY(-3.5px) translateX(-3.5px);
}

.complete .middle {
  height: 100px;
}

.clear .workpiece {
  display: none;
}

.printer {
  display: flex;
  flex-direction: column-reverse;
  /* align-items: bottom; */
  /* justify-content: bottom; */
  height: 210px;
  border: solid thin #000;
  width: 150px;
}

.progress-bar {
  border: solid thin #000;
  height: 20px;
  width: 100%;
}
.progress {
  background-color: greenyellow;
  width: 0%;
  height: 100%;
}

.dock-full-signal {
  background: yellowgreen;
  height: 10px;
  width: 10px;
  margin: 10px;
  display: none;
}

.show-dock-full .dock-full-signal {
  display: block;
}